@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Beau+Rivage&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,300&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


@keyframes bounce {

  0%,
  100% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }

  50% {
    transform: translateY(-1.5rem);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

.animate-bounce {
  animation: bounce 1s infinite;
}

.animation-delay-0 {
  animation-delay: 0s;
}

.animation-delay-1 {
  animation-delay: 0.1s;
}

.animation-delay-2 {
  animation-delay: 0.2s;
}

.animation-delay-3 {
  animation-delay: 0.3s;
}

.animation-delay-4 {
  animation-delay: 0.4s;
}

.debug {
  border: 2px dashed red;
}


/* scrollbar */

*::-webkit-scrollbar,
.scrollbar-show::-webkit-scrollbar {
  width: 0.4em;
  border-radius: 50vh;
  cursor: pointer;
}

*::-webkit-scrollbar-track,
.scrollbar-show::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px #3f000f;
}

*::-webkit-scrollbar-thumb,
.scrollbar-show::-webkit-scrollbar-thumb {
  background-color: #3f000f;
  outline: none;
}

.cs-scroll::-webkit-scrollbar,
.scrollbar-show::-webkit-scrollbar {
  width: 0.5rem;

}

.cs-scroll::-webkit-scrollbar-thumb,
.scrollbar-show::-webkit-scrollbar-thumb {
  background: #c4c4c4;
  border-radius: 0.5rem;
}

.sm-x-scroll::-webkit-scrollbar,
.scrollbar-show::-webkit-scrollbar {
  height: 0.5rem;
}

.sm-x-scroll::-webkit-scrollbar-thumb,
.scrollbar-show::-webkit-scrollbar-thumb {
  background: #c4c4c4;
  border-radius: 0.5rem;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hidden {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

body {
  font-family: "Poppins", sans-serif;
}


.text-shadow-lg {
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.8);
}

.text-shadow-md {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}


.text-outline {
  -webkit-text-stroke: 1px black; /* Adjust color and stroke size */
}
